<section class="bandSections">
  <h2 class="secTl">Band
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="bandListing">
      <div class="rW">
          <div class="colM">
              <div class="bandBox">
                  <div class="bandHeader">
                      <span class="tl">Band Genre</span>
                      <div class="bandHeadnav">
                          <a href="javascript:void(0);" class="sl">Rock</a>
                          <a href="javascript:void(0);">Folk</a>
                          <a href="javascript:void(0);">Classic</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="bandSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image1.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Curabitur lobortis</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Hannover, DE</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image1.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Scorpions</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Hannover, DE</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image1.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Suspendisse sed</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Hannover, DE</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image1.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Curabitur lobortis</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Hannover, DE</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image1.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Scorpions</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Hannover, DE</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="bandBox">
                  <div class="bandHeader">
                      <span class="tl">Band Categorie</span>
                      <div class="bandHeadnav">
                          <a href="javascript:void(0);" class="sl">Band</a>
                          <a href="javascript:void(0);">Ensemble</a>
                          <a href="javascript:void(0);">Orchestra</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="bandSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas eget</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Jon Bon Jovi</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas hendrerit</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas eget</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Jon Bon Jovi</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="bandBox">
                  <div class="bandHeader">
                      <span class="tl">Band Status</span>
                      <div class="bandHeadnav">
                          <a href="javascript:void(0);" class="sl">Newest</a>
                          <a href="javascript:void(0);">Last Update</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="bandSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas eget</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Jon Bon Jovi</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas hendrerit</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Maecenas eget</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <a href="javascript:void(0);" class="bandImage">
                                      <img src="assets/images/band-image2.jpg" alt="" draggable="false">
                                  </a>
                                  <div class="bandFooter">
                                      <div class="cont">
                                          <h2><a href="javascript:void(0);">Jon Bon Jovi</a></h2>
                                          <div class="desc">
                                              <span class="txt">Rock / Hard Rock / Metal / Progressive</span>
                                              <span class="txt">Seattle, USA</span>
                                              <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
