<aside class="bodyRight">
  <div class="panelBox">
      <div class="panelHead">News</div>
      <div class="panelBody">
          <div class="sideNews">
              <ul>
                  <li>
                      <h2>
                  <a href="javascript:void(0);">How to get musicians for a new project?</a>
                </h2>
                      <p>Hey guys, we are looking for a keyboarder with prooofs..Lorem Ipsum is simply dummy text of the printing</p>
                  </li>
                  <li>
                      <h2>
                  <a href="javascript:void(0);">How to get musicians for a new project?</a>
                </h2>
                      <p>Hey guys, we are looking for a keyboarder with prooofs..Lorem Ipsum is simply dummy text of the printing</p>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="sideAd">
      <a href="javascript:void(0);">
          <img src="assets/images/advImage8.png" alt="">
      </a>
  </div>
  <div class="sideAd">
      <a href="javascript:void(0);">
          <img src="assets/images/advImage9.png" alt="">
      </a>
  </div>
  <div class="panelBox">
      <div class="panelHead">Billboard</div>
      <div class="panelBody">
          <div class="sideBillboard">
              <ul>
                  <li>
                      <h2>
                  <a href="javascript:void(0);">We need a keyboarder</a>
                </h2>
                      <p>Hey guys, we are looking for a keyboarder with prooofs..Lorem Ipsum is simply dummy text of the printing</p>
                  </li>
                  <li>
                      <h2>
                  <a href="javascript:void(0);">We need a keyboarder</a>
                </h2>
                      <p>Hey guys, we are looking for a keyboarder with prooofs..Lorem Ipsum is simply dummy text of the printing</p>
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="sideAd">
      <a href="javascript:void(0);">
          <img src="assets/images/advImage10.jpg" alt="">
      </a>
  </div>
</aside>
