<section class="teachersSections wh">
  <h2 class="secTl">Teacher
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="teachersListing">
      <div class="rW">
          <div class="colM">
              <div class="teachersBox">
                  <div class="teachersHeader">
                      <span class="tl">Teacher Instrument</span>
                      <div class="teachersHeadnav">
                          <a href="javascript:void(0);" class="sl">Guitar</a>
                          <a href="javascript:void(0);">Piano</a>
                          <a href="javascript:void(0);">Drums</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="teachersSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="teachersBox">
                  <div class="teachersHeader">
                      <span class="tl">Teacher Genre</span>
                      <div class="teachersHeadnav">
                          <a href="javascript:void(0);" class="sl">Rock</a>
                          <a href="javascript:void(0);">Classic</a>
                          <a href="javascript:void(0);">Jazz</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="teachersSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="teachersBox">
                  <div class="teachersHeader">
                      <span class="tl">Teaching Area</span>
                      <div class="teachersHeadnav">
                          <a href="javascript:void(0);" class="sl">Berlin</a>
                          <a href="javascript:void(0);">Munich</a>
                          <a href="javascript:void(0);">Hamburg</a>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="teachersSlider flexslider">

                      <div class="flex-viewport" style="overflow: hidden; position: relative;">
                          <ul class="slides" style="width: 1000%; transition-duration: 0s; transform: translate3d(-313px, 0px, 0px);">
                              <li class="clone" aria-hidden="true" style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="flex-active-slide">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                              <li style="width: 313px; float: left; display: block;" class="clone" aria-hidden="true">
                                  <div class="teachersImage">
                                      <div class="rW">
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image1.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                          <div class="colM">
                                              <a href="javascript:void(0);" class="smImage">
                                                  <img src="assets/images/musician-image2.jpg" alt="" draggable="false">
                                              </a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="teachersFooter">
                                      <div class="cont">
                                          <div class="rW">
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Maire LeFou</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Violine / Piano / Vocals</span>
                                                      <span class="txt">Muenchen, DE</span>
                                                  </div>
                                              </div>
                                              <div class="colM">
                                                  <h2><a href="javascript:void(0);">Joe Schmidt</a></h2>
                                                  <div class="desc">
                                                      <span class="txt">Saxophone</span>
                                                      <span class="txt">Berlin, DE</span>
                                                  </div>
                                              </div>
                                          </div>
                                          <a href="javascript:void(0);" class="more"><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                      <ul class="flex-direction-nav">
                          <li><a class="flex-prev" href="#">Previous</a></li>
                          <li><a class="flex-next" href="#">Next</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
