<section class="audiosSections wh">
  <h2 class="secTl">Audios
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="audiosContainer">
      <div class="rW">
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="audioBox">
                  <div class="image">
                      <img src="assets/images/audio-image1.jpg" alt="">
                      <span class="playIcon">
                    <img src="assets/images/audio-play-icon.png" alt="">
                  </span>
                  </div>
                  <div class="details">
                      <h2>Listen to our latest show</h2>
                      <p>Our tour sound for American tour, Big celebration 2018</p>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
      </div>
  </div>
</section>
