#header-cover{
    height: 200px;
    color: #ff6c12;
    text-align: center;
    position: relative;
}
#header-cover i.fa{
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 25px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.ico.headerusertype{
    color: #fff;
    font-size: 10px;
    line-height: 19px;
    text-align: center;
    z-index: 2;
    cursor: default;
}
.ico.headerusertype.gray{
    background: #878787;
}



