<section class="videosSections">
  <h2 class="secTl">Videos
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="videosContainer">
      <div class="rW">
          <div class="colM">
              <div class="videoBox">
                  <div class="vdoImage">
                      <img src="assets/images/video-image1.jpg" alt="">
                      <a href="javascript:void(0);" class="playIco">
                          <img src="assets/images/vdo-play-icon.jpg" alt="">
                      </a>
                  </div>
                  <div class="vdoDescCont">
                      <div class="vdoDesc">
                          <h2>Watch our latest show </h2>
                          <p>Our tour trailer for world tour,
                              <br>Big celebration 2018</p>
                          <a href="javascript:void(0);" class="youtubeIco">
                              <img src="assets/images/youtube-icon.png" alt="">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="videoBox">
                  <div class="vdoImage">
                      <img src="assets/images/video-image2.jpg" alt="">
                      <a href="javascript:void(0);" class="playIco">
                          <img src="assets/images/vdo-play-icon.jpg" alt="">
                      </a>
                  </div>
                  <div class="vdoDescCont">
                      <div class="vdoDesc">
                          <h2>Watch our latest show </h2>
                          <p>Our tour trailer for world tour,
                              <br>Big celebration 2018</p>
                          <a href="javascript:void(0);" class="youtubeIco">
                              <img src="assets/images/youtube-icon.png" alt="">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="videoBox">
                  <div class="vdoImage">
                      <img src="assets/images/video-image3.jpg" alt="">
                      <a href="javascript:void(0);" class="playIco">
                          <img src="assets/images/vdo-play-icon.jpg" alt="">
                      </a>
                  </div>
                  <div class="vdoDescCont">
                      <div class="vdoDesc">
                          <h2>Watch our latest show </h2>
                          <p>Our tour trailer for world tour,
                              <br>Big celebration 2018</p>
                          <a href="javascript:void(0);" class="youtubeIco">
                              <img src="assets/images/youtube-icon.png" alt="">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="videoBox">
                  <div class="vdoImage">
                      <img src="assets/images/video-image4.jpg" alt="">
                      <a href="javascript:void(0);" class="playIco">
                          <img src="assets/images/vdo-play-icon.jpg" alt="">
                      </a>
                  </div>
                  <div class="vdoDescCont">
                      <div class="vdoDesc">
                          <h2>Watch our latest show </h2>
                          <p>Our tour trailer for world tour,
                              <br>Big celebration 2018</p>
                          <a href="javascript:void(0);" class="youtubeIco">
                              <img src="assets/images/youtube-icon.png" alt="">
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
