<section class="joinCommunity">
  <div class="communityLogo">
      <a href="javascript:void(0);">
          <img src="assets/images/logo-black.png" alt="">
      </a>
  </div>
  <h2>
          <span class="line lineL" style="width: 208px;"></span>
          <span class="txt">GET ON YAMUBA / JOIN OUR COMMUNITY</span>
          <span class="line lineR" style="width: 208px;"></span>
        </h2>
  <div class="txtCont">
      <a href="javascript:void(0);" class="button white-line">sign on</a>
      <div class="details">
          <p>Nutze noch heute die Vorteile unserer weltweiten Musiker-Community. Das Portal fur alle Musik-Interessierte..<a href="">More Information <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i></a></p>
      </div>
      <div class="spacer"></div>
  </div>
</section>
