<footer class="footer">
    <div class="wrapper" style="width: 972px;">
        <div class="rW">
            <div class="colM">
                <h2 class="footerTl">Help/FAQ</h2>
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:void(0);">Help</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Musician</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Band/Artist</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Presenter</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Music teacher</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Forum</a>
                    </li>
                </ul>
            </div>
            <div class="colM">
                <h2 class="footerTl">yamuba</h2>
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:void(0);">About yamuba</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Pricing</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Advertisment on yamuba</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Careers</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Charity</a>
                    </li>
                </ul>
            </div>
            <div class="colM">
                <h2 class="footerTl">Policies</h2>
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:void(0);">Legal Notice</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Terms &amp; Conditions</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="colM">
                <h2 class="footerTl">Communication</h2>
                <ul class="footerLinks">
                    <li>
                        <a href="javascript:void(0);">Contact &amp; Support</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Newsletter</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">News/Press</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">Registrate / Login</a>
                    </li>
                </ul>
            </div>
            <div class="colM">
                <h2 class="footerTl">Social Media</h2>
                <ul class="footerSocialLinks">
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-pinterest"></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="colM">
                <div class="footerLogo">
                    <a href="javascript:void(0);">
                        <img src="assets/images/logo.png" alt="">
                    </a>
                </div>
                <div class="copyright">Copyright 2018 yamuba</div>
            </div>
        </div>
    </div>
</footer>
