<section class="eventsSections wh">
  <h2 class="secTl">Events
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="eventsContainer">
      <div class="rW">
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image1.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image2.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image3.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image4.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image2.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
          <div class="colM">
              <a href="javascript:void(0);" class="eventBox">
                  <div class="eventCalendar">
                      <span class="dy">Mon</span>
                      <span class="dt">28</span>
                      <span class="mnth">Mar 2015</span>
                      <span class="tm">20:00 Uhr</span>
                  </div>
                  <div class="eventDetCont">
                      <div class="eventImg">
                          <img src="assets/images/event-image4.jpg" alt="">
                      </div>
                      <div class="desc">
                          <span class="evntTl">Jon Bon Jovi</span>
                          <span class="txt">
                      <strong>European Concert Tour 2015</strong>
                      Allianz Arena, Stadium Gig<br>
                      Frankfurt, DE<br>
                      Concert
                    </span>
                      </div>
                      <div class="spacer"></div>
                  </div>
                  <div class="spacer"></div>
              </a>
          </div>
      </div>
  </div>
</section>