<!-- BANNER START -->
<section class="banner">
  <h2 class="hide"></h2>
  <div id="banner" class="flexslider">
      <ul class="slides">
          <li>
              <div class="bannerList">
                  <img src="assets/images/banner-image1.jpg" alt="" />
                  <div class="bannerTxtcont">
                      <div class="bannerWrap">
                          <h2>Get in Touch with other musicians and bands</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="bannerList">
                  <img src="assets/images/banner-image2.jpg" alt="" />
                  <div class="bannerTxtcont">
                      <div class="bannerWrap">
                          <h2>Lorem ipsum dolor sit amet consectetur</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="bannerList">
                  <img src="assets/images/banner-image3.jpg" alt="" />
                  <div class="bannerTxtcont">
                      <div class="bannerWrap">
                          <h2>Fusce molestie urna ut ultrices</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="bannerList">
                  <img src="assets/images/banner-image4.jpg" alt="" />
                  <div class="bannerTxtcont">
                      <div class="bannerWrap">
                          <h2>Morbi malesuada facilisis dolor aenean</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                      </div>
                  </div>
              </div>
          </li>
          <li>
              <div class="bannerList">
                  <img src="assets/images/banner-image5.jpg" alt="" />
                  <div class="bannerTxtcont">
                      <div class="bannerWrap">
                          <h2>Pellentesque molestie gravida quam lectus scelerisque</h2>
                          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam</p>
                      </div>
                  </div>
              </div>
          </li>
      </ul>
  </div>
</section>
<!-- BANNER END -->