<h2>Filter bands by</h2>
<div class="filterBox">
  <h3>Genre</h3>
  <div class="collapseCont">
    <div class="chkList">
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_genre" checked="">
          <i class="fa fa-square-o"></i>
          Rock
          <span class="count">4</span>
        </label>
      </div>
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_genre">
          <i class="fa fa-square-o"></i>
          Jazz
          <span class="count">6</span>
        </label>
      </div>
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_genre">
          <i class="fa fa-square-o"></i>
          Folk
          <span class="count">16-20</span>
        </label>
      </div>
    </div>
    <!-- <div class="addFilter">
      <a href="javascript:void(0);">+ Add</a>
    </div> -->
  </div>
</div>
<div class="filterBox">
  <h3>Band category</h3>
  <div class="collapseCont">
    <div class="chkList">
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_category" checked="">
          <i class="fa fa-square-o"></i>
          Orchestra
          <span class="count">5</span>
        </label>
      </div>
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_category">
          <i class="fa fa-square-o"></i>
          Choire
          <span class="count">10</span>
        </label>
      </div>
      <div class="list full">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_category">
          <i class="fa fa-square-o"></i>
          Artist
          <span class="count">11-15</span>
        </label>
      </div>
    </div>
    <!-- <div class="addFilter">
      <a href="javascript:void(0);">+ Add</a>
    </div> -->
  </div>
</div>
<div class="filterBox">
  <h3>Band size</h3>
  <div class="collapseCont">
    <div class="chkList">
      <div class="list">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_size" checked="">
          <i class="fa fa-square-o"></i>
          1
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_size">
          <i class="fa fa-square-o"></i>
          2
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_size">
          <i class="fa fa-square-o"></i>
          5
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_size">
          <i class="fa fa-square-o"></i>
          10
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="checkbox" name="filter_band_size">
          <i class="fa fa-square-o"></i>
          11-15
        </label>
      </div>
    </div>
    <!-- <div class="addFilter">
      <a href="javascript:void(0);">+ Add</a>
    </div> -->
  </div>
</div>
<div class="filterBox">
  <h3>Band status</h3>
  <div class="collapseCont">
    <div class="chkList">
      <div class="list">
        <label class="chkBox orange">
          <input type="radio" name="filter_band_status" checked="">
          <i class="fa fa-square-o"></i>
          Active
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="radio" name="filter_band_status">
          <i class="fa fa-square-o"></i>
          Inactive
        </label>
      </div>
    </div>
    <!-- <div class="addFilter">
      <a href="javascript:void(0);">+ Add</a>
    </div> -->
  </div>
</div>
<div class="filterBox">
  <h3>Country</h3>
  <div class="collapseCont">
    <div class="chkList">
      <div class="list">
        <label class="chkBox orange">
          <input type="radio" name="filter_country" checked="">
          <i class="fa fa-square-o"></i>
          USA
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="radio" name="filter_country">
          <i class="fa fa-square-o"></i>
          UK
        </label>
      </div>
      <div class="list">
        <label class="chkBox orange">
          <input type="radio" name="filter_country">
          <i class="fa fa-square-o"></i>
          India
        </label>
      </div>
    </div>
    <!-- <div class="addFilter">
      <a href="javascript:void(0);">+ Add</a>
    </div> -->
  </div>
</div>
<div class="filterSrchbtns">
  <a href="javascript:void(0);" class="button orange">Submit</a>
</div>