<div class="leftbxpro pull-left">
  <a href="javascript:void(0);" class="btnback">Back</a>
  <div class="leftcont bg-white thbrder">
   
    <app-profile-about></app-profile-about>
    
    <div class="bordrsm"></div>

    <app-profile-experience></app-profile-experience>

    <div class="bordrsm"></div>
    
    <app-profile-education></app-profile-education>
    
    <div class="bordrsm"></div>
    <div class="lcdesk">
      <p class="titleleft">Points</p>
      <ul class="list-unstyled pointlist">
        <li>Today’s Points
          <span class="pull-right">10</span>
          <div class="clearfix"></div>
        </li>
        <li>Weekly Points
          <span class="pull-right">100</span>
          <div class="clearfix"></div>
        </li>
        <li>Monthly Points
          <span class="pull-right">400</span>
          <div class="clearfix"></div>
        </li>
        <li>Yearly Points
          <span class="pull-right">12,200</span>
          <div class="clearfix"></div>
        </li>
        <li>All Time Points
          <span class="pull-right">25000</span>
          <div class="clearfix"></div>
        </li>
      </ul>
    </div>

  </div>
</div>