
<div class="container">
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">

      <div class="clearfix">
        <h3 class="dbtitle pull-left">API KEYS</h3>
        <a href="#" class="pull-right doculink">Documentation</a>
      </div>

      <div class="form-inline form-group">
      <div class="form-group">
        <label for="exampleInputName2">API TOKEN</label>
        <input type="text" class="form-control" placeholder="my token">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">API KEY</label>
        <input type="email" class="form-control" placeholder="sdjhidj635fdffdjhgs">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">DOMAIN</label>
        <input type="email" class="form-control" placeholder="mydomain.com">
      </div>
      <button type="submit" class="btn btn-default addmore"><i class="fa fa-plus"></i></button>
    </div>


      <div class="table-responsive themecolor">
        <table class="table table-bordered">
          
          <thead>
              <tr>
                  <th>Token</th>
                  <th>Domain</th>
                  <th>Created date</th>
                  <th>Total calls</th>
                  <th>Daily calls</th>
                  <th>Last call</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>my Token</td>
                  <td>mydomain.com</td>
                  <td>10/06/2017</td>
                  <td>500</td>
                  <td>50</td>
                  <td>18/06/2017</td>
                  <td>
                   <button class="btn btn-success">ACTIVE</button>
                          </td>
              </tr>


              <tr>
                  <td>my Token</td>
                  <td>mydomain.com</td>
                  <td>10/06/2017</td>
                  <td>500</td>
                  <td>50</td>
                  <td>18/06/2017</td>
                  <td>
                   <button class="btn btn-danger">INACTIVE</button>
                          </td>
              </tr>





          </tbody>
      </table>
      </div>


      <h3 class="dbtitle">SHARING SOLUTION</h3>

      <div class="form-inline form-group">
      <div class="form-group">
        <label for="exampleInputName2">SERVICE</label>
        <select class="form-control">
          <option>ADDTHIS.COM</option>
          <option>ADDTOANY.COM</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">API KEY</label>
        <input type="email" class="form-control" placeholder="sdjhidj635fdffdjhgs">
      </div>
      <input type="button" class="btn btn-success btntheme" value="Update" name="">
    </div>

    </div><!-- tab one -->
 <!--    <div role="tabpanel" class="tab-pane" id="profile"></div> -->
</div>
</div>
