<section class="billboardSections">
  <h2 class="secTl">Billboard
          <a href="javascript:void(0);" class="button black-line">show more</a>
        </h2>
  <div class="billboardContainer">
      <div class="rW">
          <div class="colM">
              <div class="billboardContBox">
                  <h2 class="tl">Musiker gesucht</h2>
                  <div class="billboardList">
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                  </div>
                  <div class="billboardShowMore">
                      <a href="javascript:void(0);" class="button black-line">show more</a>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="billboardContBox">
                  <h2 class="tl">Musiker gesucht</h2>
                  <div class="billboardList">
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                  </div>
                  <div class="billboardShowMore">
                      <a href="javascript:void(0);" class="button black-line">show more</a>
                  </div>
              </div>
          </div>
          <div class="colM">
              <div class="billboardContBox">
                  <h2 class="tl">Musiker gesucht</h2>
                  <div class="billboardList">
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                      <a href="javascript:void(0);" class="billboardBox">
                          <div class="image">
                              <img src="assets/images/billboard-image1.jpg" alt="">
                          </div>
                          <div class="details">
                              <h2>Guitarrist sucht Hobbyband im Ruhrgebie</h2>
                              <p>Heinz Müller, Dortmund, DE
                                  <br> Jazz / Big Band / Modern Classic</p>
                          </div>
                          <div class="spacer"></div>
                      </a>
                  </div>
                  <div class="billboardShowMore">
                      <a href="javascript:void(0);" class="button black-line">show more</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
