<div class="headerOuter" style="min-height: 97px;">
    <header id="header">
        <div class="mainWrapper">
            <div class="logo">
                <a href="/">
                    <img src="assets/images/logo.png" alt="">
                </a>
            </div>
            <div class="headerRight">
                <div class="headerRightCont">
                    <div class="headerTop">
                        <div class="topTxt">fur Musiker, Bands, Veranstalter - alle Genres - international</div>
                        <div class="topRight">
                            <ul class="headerSocial">
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <!-- <img src="assets/images/google-plus-icon.png" alt=""/> -->
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                            <ul class="headTopLinks">
                                <li>
                                    <a href="javascript:void(0);">Contact</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Help ?</a>
                                </li>
                            </ul>
                            <div class="languageSel">
                                <span class="sel">English</span>
                                <ul>
                                    <li class="sl">English</li>
                                    <li>German</li>
                                </ul>
                            </div>
                        </div>
                        <div class="spacer"></div>
                    </div>
                    
                    <app-nav></app-nav>

                </div>
                <div class="spacer"></div>
            </div>
            <div class="spacer"></div>
        </div>
    </header>
</div>
